<nav class="navbar navbar-inverse navbar-fixed-top" *ngIf="!primaryLoad">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Lib-Intel</a>
      <a style="color: #efe4bf" class="navbar-brand" href="#">:: Protokoll</a>
    </div>
    <div id="navbar" class="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a *ngIf="show['filter']" (click)="toggleShow('filter')">{{'hide.filter' | translate}}</a>
          <a *ngIf="!show['filter']" (click)="toggleShow('filter')">{{'show.filter' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron" *ngIf="primaryLoad">
  <div class="container">
    <h1 style="padding: 20px;">
      {{'title.protocol' | translate}}
    </h1>
    <p style="padding: 10px;">{{'description.protocol.short' | translate}}</p>
    <div class="ui-g ui-fluid">
      <form (submit)="collect()" (keyup.enter)="collect()">
        <div class="ui-g-12 ui-lg-3">
        <span class="ui-float-label">
        <input id="float-input-jumbotron" type="text" size="30" pInputText [(ngModel)]="protokollRequest.shelfmark"
               [ngModelOptions]="{standalone: true}" autofocus
               pTooltip="Bitte Signatur eingeben" tooltipPosition="bottom">
        <label for="float-input-jumbotron">{{'shelfmark' | translate}}</label>
        </span>
        </div>
        <div class="ui-g-12 ui-lg-3">
        <span class="ui-float-label">
        <input [(ngModel)]="protokollRequest.collections" id="collections-primary-jumbotron" pInputText name="collections"
               size="20" pTooltip="z.B. E31, E3, D45, E (mehrere durch Leerzeichen trennen)" tooltipPosition="bottom"
               [ngModelOptions]="{standalone: true}"/>
        <label for="collections-primary-jumbotron">{{'collections' | translate}}</label>
        </span>
        </div>
        <div class="ui-g-12 ui-lg-3">
          <p-toggleButton onLabel="Nur diese Auflage" offLabel="Alle Auflagen"
                          [(ngModel)]="protokollRequest.exact" [ngModelOptions]="{standalone: true}"></p-toggleButton>
        </div>
        <div class="ui-g-12 ui-lg-3">
          <button pButton type="button" class="ui-button-success" (click)="collect()" icon="fa-search"
                  label="Abfrage starten"></button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog header="Daten werden abgerufen" [modal]="true" [closable]="false" [(visible)]="busy">
  <img src="/files/custom/loading.gif" alt="Loading..." style="width:304px;height:228px;">
</p-dialog>

<div id="wrapper" *ngIf="!primaryLoad" class="ui-g">
  <div class="ui-g content">
    <div class="ui-md-2 ui-g-12 ui-g-nopad" *ngIf="show['filter']">
      <div *ngIf="isElectronic || isPrint">
        <p-scrollPanel [style]="{width: '100%', height: '100%'}">
          <h3 (click)="toggleShow('editions')">{{'editions' | translate}} <i
            [ngClass]="show['editions'] ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i></h3>
          <div *ngIf="show['editions']" class="ui-g">
            <div *ngFor="let m of printManifestations | keyvalue" class="ui-g-12">
              <p-checkbox [(ngModel)]="filterList[m.value.titleID]" binary="true" (onChange)="update()"
                          label="{{m.value.edition}}. Auflage: {{m.value.shelfmark}}   <{{statsManifestations.get(m.value.titleID)}} Ex.>"
                          pTooltip="{{m.value.bibliographicInformation.authors}}:
          {{m.value.bibliographicInformation.title}}, {{m.value.bibliographicInformation.year}}."></p-checkbox>
            </div>
          </div>
          <h3 (click)="toggleShow('collections')">{{'collections' | translate}} <i
            [ngClass]="show['collections'] ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i></h3>
          <div *ngIf="show['collections']" class="ui-g">
            <div *ngFor="let m of uniqueCollections" class="ui-g-12">
              <p-checkbox [(ngModel)]="filterList[m]" binary="true" (onChange)="update()"
                          label="{{m}} <{{statsCollection.get(m)}} Ex.>"></p-checkbox>
            </div>
          </div>
          <h3 (click)="toggleShow('materials')">{{'materials' | translate}} <i
            [ngClass]="show['materials'] ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i></h3>
          <div *ngIf="show['materials']" class="ui-g">
            <div *ngFor="let m of uniqueMaterials" class="ui-g-12">
              <p-checkbox [(ngModel)]="filterList[m]" binary="true" (onChange)="update()"
                          label="{{'material.' + m | translate}} <{{statsMaterials.get(m)}} Ex.>"></p-checkbox>
            </div>
          </div>
        </p-scrollPanel>
      </div>
    </div>

    <div class="ui-md-10 ui-g-12">

      <form (submit)="collect()" (keyup.enter)="collect()">

        <div class="ui-g"
             style="padding: 20px; border-style: none none solid none; background-color: #dfe4f2;">

          <div class="ui-g-12 ui-md-6 ui-lg-3">
        <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText [(ngModel)]="protokollRequest.shelfmark"
               [ngModelOptions]="{standalone: true}" autofocus
               pTooltip="Bitte Signatur eingeben" tooltipPosition="bottom">
        <label for="float-input">{{'shelfmark' | translate}}</label>
        </span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
        <span class="ui-float-label">
        <input [(ngModel)]="protokollRequest.collections" id="collections-primary" pInputText name="collections"
               size="20" pTooltip="z.B. E31, E3, D45, E (mehrere durch Leerzeichen trennen)" tooltipPosition="bottom"
               [ngModelOptions]="{standalone: true}"/>
        <label for="collections-primary">{{'collections' | translate}}</label>
        </span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
            <p-toggleButton onLabel="Nur diese Auflage" offLabel="Alle Auflagen"
                            [(ngModel)]="protokollRequest.exact" [ngModelOptions]="{standalone: true}"></p-toggleButton>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
            <button pButton type="button" class="ui-button-success" (click)="collect()" icon="fa-search"
                    label="Abfrage starten"></button>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
            <button pButton type="button" class="ui-button-success" (click)="copyLink()" icon="fas-search"
                    label="Link kopieren"></button>
          </div>
        </div>
      </form>
      <p-messages [(value)]="messages" [closable]="false"></p-messages>

      <div class="ui-g" *ngIf="(isPrint && selectedItems.length > 0) || counterFound">
        <p-tabMenu [model]="items" [activeItem]="items[0]" class="ui-fluid"></p-tabMenu>
        <div class="ui-g-12 ui-md-12 ui-lg-12 tile-bottom">
          <h2>{{'title.' + activePart | translate}}</h2>

          <div *ngIf="activePart === 'bibliography'">
            <p-accordion [multiple]="true">
              <p-accordionTab header="{{m.edition}}. Auflage: {{m.shelfmark}}"
                              *ngFor="let m of printManifestations | keyvalue;  let index = index" [selected]="(index === 0)">
                <div [innerHTML]="m.value.bibliographicInformation.fullDescription"></div>
                <button pButton type="button" class="ui-button-success"
                        (click)="goToPrimo(m.value.bibliographicInformation)"
                        label="Titel in Primo anzeigen"></button>
              </p-accordionTab>
            </p-accordion>
          </div>

          <app-graph [title]="title" [print]="printData" [digital]="digitalData" *ngIf="activePart === 'graph'"></app-graph>

          <div class="ui-g-12" *ngIf="activePart === 'graph'">
            <div class="ui-g ui-fluid">
              <div class="ui-g-6 ui-g-offset-3">
                <p-selectButton [options]="chartDetailsOptions" [(ngModel)]="chartDetail" (onChange)="updatePlotData()"></p-selectButton>
              </div>
            </div>
          </div>

          <app-statistics [data]="printData" *ngIf="activePart === 'information'"></app-statistics>

          <app-analysis [data]="printData" *ngIf="activePart === 'analysis'"></app-analysis>

          <p-dataTable #dt [value]="selectedItems" [rows]="10" [paginator]="true"
                       [rowsPerPageOptions]="[10,20,50]" *ngIf="activePart === 'items'">
            <p-header>
              <div class="ui-helper-clearfix">
                <button style="float: left;" class="ui-button-success" type="button" pButton
                        (click)="dt.exportCSV()"
                        label="Export" icon="fa-table"></button>
              </div>
            </p-header>
            <p-column field="collection" header="Standort" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="shelfmark" header="Signatur" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="material" header="Medium" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="events.length" header="Ausleihen" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="itemStatus" header="Status" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter">
              <ng-template let-col let-item="rowData" pTemplate="body">
                {{'item.status.' + item.itemStatus | translate}}{{'item.process.status.' + item.processStatus |
                translate}} {{item.noteOpac}}
              </ng-template>
            </p-column>
          </p-dataTable>

          <p-dataTable #di [value]="selectedEvents" [rows]="10" [paginator]="true"
                       [rowsPerPageOptions]="[10,20,50]" sortField="date" [sortOrder]="-1"
                       *ngIf="activePart === 'events'">
            <p-header>
              <div class="ui-helper-clearfix">
                <button style="float: left;" class="ui-button-success" type="button" pButton
                        (click)="di.exportCSV()"
                        label="Export" icon="fa-table"></button>
              </div>
            </p-header>
            <p-column field="date" header="Datum von" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="endEvent.date" header="Datum bis" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="duration" header="Tage" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="type" header="Ereignis" [sortable]="true">
              <ng-template let-col let-event="rowData" pTemplate="body">
                {{'event.type.' + event.type | translate}}
              </ng-template>
            </p-column>
            <p-column field="borrowerStatus" header="Benutzer" [sortable]="true">
              <ng-template let-col let-event="rowData" pTemplate="body">
                {{'event.borrowerStatus.' + event.borrowerStatus | translate}}
              </ng-template>
            </p-column>
          </p-dataTable>

          <p-dataTable #dc [value]="selectedCounter" [rows]="10" [paginator]="true"
                       [rowsPerPageOptions]="[10,20,50]" *ngIf="activePart === 'usage'">
            <p-header>
              <div class="ui-helper-clearfix">
                <button style="float: left;" class="ui-button-success" type="button" pButton
                        (click)="dc.exportCSV()"
                        label="Export" icon="fa-table"></button>
              </div>
            </p-header>
            <p-column field="collection" header="Standort" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="shelfmark" header="Signatur" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="material" header="Medium" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="events.length" header="Ausleihen" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter"></p-column>
            <p-column field="itemStatus" header="Status" [sortable]="true" [filter]="true"
                      filterPlaceholder="Filter">
              <ng-template let-col let-item="rowData" pTemplate="body">
                {{'item.status.' + item.itemStatus | translate}}{{'item.process.status.' + item.processStatus |
                translate}} {{item.noteOpac}}
              </ng-template>
            </p-column>
          </p-dataTable>

        </div>
      </div>
    </div>
  </div>
</div>
